@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  background:  #0C0C0C;
  color: #E3E3E3;
  font-family: 'Poppins';
}

.navbar-container{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background: #121212b8;
  backdrop-filter: blur(4px);
  z-index: 1001;
  border-bottom: 1px solid #ffffff1a;
}

.navbar{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #C61026;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}

.logo a{
  text-decoration: none;
  color:black !important; ;
}

.others{
  gap: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff1a;
  color: black;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}

.menu i{
  color: white;
  cursor: pointer;
}

.mode{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #1E1E1E;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}

.mode i{
  color: white;
  cursor: pointer;
}

.mode:active, .menu:active{
  background: #111111;
}


.links{
  position: absolute;
  z-index: 1002;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 260px;
  height: 260px;
  background: #1E1E1E;
  color: #E3E3E3;
  box-sizing: border-box;
  padding: 8px 18px 20px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.links a{
  text-decoration: none;
  font-size: 20px;
  color: #E3E3E3;
  transition: .4s ease all;
  letter-spacing: -1px;
}
.links a:hover{
  transform: translateX(8px);
}

.links a:active{
  transform: translateX(8px);
}

.links i{
  font-size: 28px;
  align-self: flex-end;
  cursor: pointer;
}

.bg{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}


.intro{
  width: 90%;
  padding: 30px 0px;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff1a;
}
.intro img{
  width: 120px;
}

.intro h1{
  font-weight: 500;
}

.intro span{
  font-family: 'Playfair display';
  font-style: italic;
}

.intro a{
  width: fit-content;
  text-decoration: underline;
  color: #E3E3E3;
  font-size: 14px;
}



.intro .arrow, .second .arrow{
  transform: rotate(45deg);
  z-index: 1;
  position: relative;
  top: 2px;
}

.second a{
  width: fit-content;
  text-decoration: underline;
  color: #E3E3E3;
  font-size: 14px;
}

.second{
  width: 90%;
  margin: 0 auto;
  padding: 30px 0px;
  border-bottom: 1px solid #ffffff1a;
}

iframe{
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
}

.contact-container{
  margin-top: 8% !important;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 10px;
}

.contact{
  width: 100%;
  margin-top: 8% !important;
  margin: 0 auto;
  background: #121212;
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  box-sizing: border-box;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #ffffff1a;
  margin-top: 6% !important;
  gap: 0px;
}

input, textarea{
  all: unset;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}

textarea{
  resize: vertical;
  height: 130px;
}

select{
  all: unset;
  margin-top: 1% !important;
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: #121212;
  color: #E3E3E3;
}

.input-container span{
  box-sizing: border-box;
  padding: 0px 20px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 5px;
}





.input textarea {
  all: unset;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 30px;
  font-size: 16px;
  resize: vertical;
}


button{
  all: unset;
  text-align: center;
  width: 100%;
  padding-block: 20px ;
  cursor: pointer;
}

button[type="submit"] {
  background: #00753B;
}

.popup-message{
  z-index: 1000;
  font-size: 16px;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 50px;
  background: #00753B;
}